@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Adress <br />
    Street, City<br />
    <abbr title="Phone">P:</abbr>
    +90 7777777
</address>

<address>
    <strong>Destek:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>